:host {
    width: 55vh;
    height: 200px;
    max-width: 600px;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.logo-container {
    width: 25%;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 0 20px;
}

.logo-container img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: darkblue;
    object-fit: contain;
    object-position: center;
}

.card-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
    padding-right: 30px;
    flex-grow: 1;
    background-color: aquamarine;
}

.card-content h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: darkblue;
}

.card-content p {
    margin: 5px 0 0;
    font-size: 1.1rem;
    color: darkblue;
    opacity: 0.8;
}

.barra-lateral {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    color: navy;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    padding-right: 10px;
}

.barra-lateral:hover {
    width: 20px;
}

.barra-lateral.hidden{
    right: 65%;
    transition: right 0.3s ease-in-out;
    transform: rotate(180deg);
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
}

.info-adicional {
    position: absolute;
    right: -400px;
    width: 57%;
    height: 100%;
    padding: 0 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
    transition: right 0.3s ease-in-out;
    font-size: 0.7rem;
}

.info-adicional p{
    line-height: 100%;
}

.info-adicional.hidden {
    right: -420px;
}

.info-adicional.visible {
    right: 0;
}

@media (max-width: 500px) {
    :host{
        height: 170px;
    }

    .card-content h3{
        font-size: 4.2vw;
    }

    .card-content p{
        font-size: 3.2vw;
    }

    .info-adicional{
        font-size: 2vw;
        padding: 0 15px;
    }
}
